<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
  <w:zoom w:percent="150" />
  <w:proofState w:spelling="clean" />
  <w:stylePaneFormatFilter w:val="3F01" w:allStyles="1" w:customStyles="0" w:latentStyles="0" w:stylesInUse="0" w:headingStyles="0" w:numberingStyles="0" w:tableStyles="0" w:directFormattingOnRuns="1" w:directFormattingOnParagraphs="1" w:directFormattingOnNumbering="1" w:directFormattingOnTables="1" w:clearFormatting="1" w:top3HeadingStyles="1" w:visibleStyles="0" w:alternateStyleNames="0" />
  <w:defaultTabStop w:val="708" />
  <w:hyphenationZone w:val="425" />
  <w:characterSpacingControl w:val="doNotCompress" />
  <w:compat>
    <w:useFELayout />
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="12" />
    <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
    <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
    <w:compatSetting w:name="differentiateMultirowTableHeaders" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
    <w:compatSetting w:name="useWord2013TrackBottomHyphenation" w:uri="http://schemas.microsoft.com/office/word" w:val="0" />
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="000C0318" />
    <w:rsid w:val="00001E33" />
    <w:rsid w:val="000024DA" />
    <w:rsid w:val="000035A2" />
    <w:rsid w:val="00003DA5" />
    <w:rsid w:val="00004113" />
    <w:rsid w:val="0000458B" />
    <w:rsid w:val="00007A9C" />
    <w:rsid w:val="00011341" />
    <w:rsid w:val="00023823" />
    <w:rsid w:val="00024DD4" />
    <w:rsid w:val="00036EC8" />
    <w:rsid w:val="00046787" />
    <w:rsid w:val="00060E06" />
    <w:rsid w:val="00060FB5" />
    <w:rsid w:val="00061B4A" />
    <w:rsid w:val="000632AC" />
    <w:rsid w:val="00064636" />
    <w:rsid w:val="0006487D" />
    <w:rsid w:val="0006540B" />
    <w:rsid w:val="00071716" />
    <w:rsid w:val="00081555" />
    <w:rsid w:val="00082B75" />
    <w:rsid w:val="000845A5" />
    <w:rsid w:val="0008788A" />
    <w:rsid w:val="00096E53" />
    <w:rsid w:val="000A2CE7" />
    <w:rsid w:val="000A5152" />
    <w:rsid w:val="000A6A2E" />
    <w:rsid w:val="000B3DB7" />
    <w:rsid w:val="000C0318" />
    <w:rsid w:val="000C1EBA" />
    <w:rsid w:val="000C4297" />
    <w:rsid w:val="000D0877" />
    <w:rsid w:val="000E0CBA" />
    <w:rsid w:val="000E138A" />
    <w:rsid w:val="000E445B" />
    <w:rsid w:val="000E4E22" />
    <w:rsid w:val="000E707A" />
    <w:rsid w:val="000F02CA" />
    <w:rsid w:val="000F22C2" />
    <w:rsid w:val="000F2E5F" />
    <w:rsid w:val="000F72D0" />
    <w:rsid w:val="00102814" />
    <w:rsid w:val="00102D41" />
    <w:rsid w:val="00104CF4" />
    <w:rsid w:val="001061B3" />
    <w:rsid w:val="00122EAB" />
    <w:rsid w:val="001361C0" />
    <w:rsid w:val="001427BB" />
    <w:rsid w:val="00146524" />
    <w:rsid w:val="001474E9" />
    <w:rsid w:val="001479D9" />
    <w:rsid w:val="00150E60" />
    <w:rsid w:val="00152C53" />
    <w:rsid w:val="001536CE" />
    <w:rsid w:val="00153D73" />
    <w:rsid w:val="00161F9F" />
    <w:rsid w:val="00164200" />
    <w:rsid w:val="00164545" />
    <w:rsid w:val="00173DA2" />
    <w:rsid w:val="00175735" />
    <w:rsid w:val="00183C0D" />
    <w:rsid w:val="00187F2C" />
    <w:rsid w:val="00191C53" />
    <w:rsid w:val="00192D34" />
    <w:rsid w:val="00192E32" />
    <w:rsid w:val="001935A7" />
    <w:rsid w:val="0019578B" />
    <w:rsid w:val="001A5761" />
    <w:rsid w:val="001B4A9B" />
    <w:rsid w:val="001B71B2" />
    <w:rsid w:val="001C6E6F" />
    <w:rsid w:val="001D1920" />
    <w:rsid w:val="001D4E08" />
    <w:rsid w:val="001D6F2C" />
    <w:rsid w:val="001E3946" />
    <w:rsid w:val="001E4B59" />
    <w:rsid w:val="001E6ECC" />
    <w:rsid w:val="001E7E78" />
    <w:rsid w:val="00200D7E" />
    <w:rsid w:val="0020585C" />
    <w:rsid w:val="00207C28" />
    <w:rsid w:val="0021167C" />
    <w:rsid w:val="00215562" />
    <w:rsid w:val="00231416" />
    <w:rsid w:val="002321EA" />
    <w:rsid w:val="00233203" />
    <w:rsid w:val="00240B5B" />
    <w:rsid w:val="00244163" />
    <w:rsid w:val="002465DC" />
    <w:rsid w:val="00251EE6" />
    <w:rsid w:val="00254B1A" />
    <w:rsid w:val="00260EEB" />
    <w:rsid w:val="00273339" />
    <w:rsid w:val="00276F6E" />
    <w:rsid w:val="00282C54" />
    <w:rsid w:val="00284457" />
    <w:rsid w:val="00292156" />
    <w:rsid w:val="00296547" />
    <w:rsid w:val="002B1412" />
    <w:rsid w:val="002B3B09" />
    <w:rsid w:val="002B449B" />
    <w:rsid w:val="002C7103" />
    <w:rsid w:val="002D0429" />
    <w:rsid w:val="002D495F" />
    <w:rsid w:val="002E446E" />
    <w:rsid w:val="002E4E80" />
    <w:rsid w:val="002F3E4E" />
    <w:rsid w:val="002F6A1F" />
    <w:rsid w:val="002F7A94" />
    <w:rsid w:val="00301394" />
    <w:rsid w:val="0030418D" />
    <w:rsid w:val="0031518C" />
    <w:rsid w:val="0031725C" />
    <w:rsid w:val="00322967" />
    <w:rsid w:val="00322EA9" />
    <w:rsid w:val="00324AFB" />
    <w:rsid w:val="00326781" />
    <w:rsid w:val="00326CC1" />
    <w:rsid w:val="00327925" />
    <w:rsid w:val="00327DAD" />
    <w:rsid w:val="003324F8" />
    <w:rsid w:val="00333A0E" />
    <w:rsid w:val="0033677B" />
    <w:rsid w:val="00340269" />
    <w:rsid w:val="003404D6" />
    <w:rsid w:val="00341166" />
    <w:rsid w:val="00342D86" />
    <w:rsid w:val="00343899" />
    <w:rsid w:val="00343BAD" />
    <w:rsid w:val="00351F02" />
    <w:rsid w:val="00356C7D" />
    <w:rsid w:val="00386D91" />
    <w:rsid w:val="00390F4C" />
    <w:rsid w:val="00393981" />
    <w:rsid w:val="003940A6" />
    <w:rsid w:val="00394E61" />
    <w:rsid w:val="003A2046" />
    <w:rsid w:val="003A207F" />
    <w:rsid w:val="003A32A7" />
    <w:rsid w:val="003A37EC" />
    <w:rsid w:val="003B4E40" />
    <w:rsid w:val="003B6685" />
    <w:rsid w:val="003B6F07" />
    <w:rsid w:val="003C394F" />
    <w:rsid w:val="003D48D6" />
    <w:rsid w:val="003D504E" />
    <w:rsid w:val="003D6EB8" />
    <w:rsid w:val="003E2FE3" />
    <w:rsid w:val="003E4D6F" />
    <w:rsid w:val="003E7D0C" />
    <w:rsid w:val="003F224F" />
    <w:rsid w:val="003F5230" />
    <w:rsid w:val="00406A5D" />
    <w:rsid w:val="00410900" />
    <w:rsid w:val="0042240F" />
    <w:rsid w:val="00425C77" />
    <w:rsid w:val="004329A5" />
    <w:rsid w:val="00437670" />
    <w:rsid w:val="0044246C" />
    <w:rsid w:val="0045579B" />
    <w:rsid w:val="0046080F" />
    <w:rsid w:val="004633C1" />
    <w:rsid w:val="00464FCA" />
    <w:rsid w:val="004830DE" />
    <w:rsid w:val="00485975" />
    <w:rsid w:val="004A0C27" />
    <w:rsid w:val="004A1F8A" />
    <w:rsid w:val="004B0F77" />
    <w:rsid w:val="004B1E28" />
    <w:rsid w:val="004C1888" />
    <w:rsid w:val="004C38AF" />
    <w:rsid w:val="004C6194" />
    <w:rsid w:val="004D437E" />
    <w:rsid w:val="004D5252" />
    <w:rsid w:val="004D7A11" />
    <w:rsid w:val="004E1BEB" />
    <w:rsid w:val="004E477F" />
    <w:rsid w:val="004E4C55" />
    <w:rsid w:val="004E69A1" />
    <w:rsid w:val="004F38D7" />
    <w:rsid w:val="004F3A16" />
    <w:rsid w:val="0050071F" />
    <w:rsid w:val="00500DF9" />
    <w:rsid w:val="0051024F" />
    <w:rsid w:val="00513CAF" />
    <w:rsid w:val="00515FC4" />
    <w:rsid w:val="005305E4" />
    <w:rsid w:val="005325BF" />
    <w:rsid w:val="00536A53" />
    <w:rsid w:val="00543FA2" />
    <w:rsid w:val="005460F6" />
    <w:rsid w:val="00551B72" />
    <w:rsid w:val="00554DED" />
    <w:rsid w:val="005835F1" />
    <w:rsid w:val="00593BFD" />
    <w:rsid w:val="00595487" />
    <w:rsid w:val="005A32D8" />
    <w:rsid w:val="005A5FA7" />
    <w:rsid w:val="005A6625" />
    <w:rsid w:val="005A6DC0" />
    <w:rsid w:val="005A78E2" />
    <w:rsid w:val="005A7A4B" />
    <w:rsid w:val="005C5EA4" />
    <w:rsid w:val="005D09D3" />
    <w:rsid w:val="005D7927" />
    <w:rsid w:val="005E3911" />
    <w:rsid w:val="005E4B63" />
    <w:rsid w:val="005E5FA5" />
    <w:rsid w:val="005E6454" />
    <w:rsid w:val="005E7092" />
    <w:rsid w:val="005F45C8" />
    <w:rsid w:val="005F4AA9" />
    <w:rsid w:val="00601347" />
    <w:rsid w:val="0060151F" />
    <w:rsid w:val="00620ED0" />
    <w:rsid w:val="006265C6" />
    <w:rsid w:val="0063343E" />
    <w:rsid w:val="006343ED" />
    <w:rsid w:val="00642D63" />
    <w:rsid w:val="00643933" />
    <w:rsid w:val="00651D52" />
    <w:rsid w:val="00653C6F" />
    <w:rsid w:val="00666E38" />
    <w:rsid w:val="006712D7" />
    <w:rsid w:val="00671307" />
    <w:rsid w:val="00672092" />
    <w:rsid w:val="00676BCB" />
    <w:rsid w:val="00677D39" />
    <w:rsid w:val="00686841" />
    <w:rsid w:val="00690067" />
    <w:rsid w:val="006914B4" />
    <w:rsid w:val="0069394B" />
    <w:rsid w:val="00694774" />
    <w:rsid w:val="006A7DFE" />
    <w:rsid w:val="006B7087" />
    <w:rsid w:val="006C276F" />
    <w:rsid w:val="006C42AC" />
    <w:rsid w:val="006C4331" />
    <w:rsid w:val="006D65D1" />
    <w:rsid w:val="006D7CFC" />
    <w:rsid w:val="006E0BC4" />
    <w:rsid w:val="006E310E" />
    <w:rsid w:val="006E55C6" />
    <w:rsid w:val="006F2B03" />
    <w:rsid w:val="00701D28" />
    <w:rsid w:val="00701E5B" />
    <w:rsid w:val="007020D7" />
    <w:rsid w:val="00705A4D" />
    <w:rsid w:val="007069B6" />
    <w:rsid w:val="007107FD" />
    <w:rsid w:val="00741C8C" />
    <w:rsid w:val="00761A16" />
    <w:rsid w:val="00764D00" />
    <w:rsid w:val="00766415" />
    <w:rsid w:val="007711AA" />
    <w:rsid w:val="00773B05" />
    <w:rsid w:val="007744CE" />
    <w:rsid w:val="00784517" />
    <w:rsid w:val="00790E05" />
    <w:rsid w:val="007A47FD" />
    <w:rsid w:val="007B6691" />
    <w:rsid w:val="007D074E" />
    <w:rsid w:val="007D6C6C" />
    <w:rsid w:val="007E341F" />
    <w:rsid w:val="007E64D7" />
    <w:rsid w:val="007F3ED4" />
    <w:rsid w:val="007F59D2" />
    <w:rsid w:val="007F71C5" />
    <w:rsid w:val="00801E9A" />
    <w:rsid w:val="00807987" />
    <w:rsid w:val="00832837" />
    <w:rsid w:val="00834226" />
    <w:rsid w:val="008505E1" />
    <w:rsid w:val="008529B6" />
    <w:rsid w:val="008538B8" />
    <w:rsid w:val="008567C2" />
    <w:rsid w:val="008655F6" />
    <w:rsid w:val="00866F2F" />
    <w:rsid w:val="0088376A" />
    <w:rsid w:val="008905F4" />
    <w:rsid w:val="0089144A" />
    <w:rsid w:val="00892B19" />
    <w:rsid w:val="008A1F9B" />
    <w:rsid w:val="008A21AA" />
    <w:rsid w:val="008A38BA" />
    <w:rsid w:val="008A5971" />
    <w:rsid w:val="008A6B87" />
    <w:rsid w:val="008B2563" />
    <w:rsid w:val="008B3F57" />
    <w:rsid w:val="008C648A" />
    <w:rsid w:val="008D1623" />
    <w:rsid w:val="008D32AB" />
    <w:rsid w:val="008D3B08" />
    <w:rsid w:val="008E2BA2" />
    <w:rsid w:val="008F32F2" />
    <w:rsid w:val="008F6EB3" />
    <w:rsid w:val="00902BCC" />
    <w:rsid w:val="00903910" />
    <w:rsid w:val="009111D3" />
    <w:rsid w:val="009113C7" />
    <w:rsid w:val="0091550E" />
    <w:rsid w:val="00916BB0" />
    <w:rsid w:val="00916C81" />
    <w:rsid w:val="00924884" />
    <w:rsid w:val="0093061E" />
    <w:rsid w:val="00937513" />
    <w:rsid w:val="00941411" />
    <w:rsid w:val="00946C8E" />
    <w:rsid w:val="00954E28" />
    <w:rsid w:val="00957296" />
    <w:rsid w:val="00960FFE" />
    <w:rsid w:val="00962738" />
    <w:rsid w:val="00963CD6" />
    <w:rsid w:val="00967876" />
    <w:rsid w:val="00972882" />
    <w:rsid w:val="00975A4A" />
    <w:rsid w:val="00976DC7" />
    <w:rsid w:val="00991D85" />
    <w:rsid w:val="0099275B" />
    <w:rsid w:val="00992C41" />
    <w:rsid w:val="00995781" />
    <w:rsid w:val="009A1933" />
    <w:rsid w:val="009A1C51" />
    <w:rsid w:val="009A6C94" />
    <w:rsid w:val="009B39A7" />
    <w:rsid w:val="009B7DBE" />
    <w:rsid w:val="009C1D72" />
    <w:rsid w:val="009C447B" />
    <w:rsid w:val="009C4FEB" />
    <w:rsid w:val="009F2D53" />
    <w:rsid w:val="00A01F39" />
    <w:rsid w:val="00A029F2" />
    <w:rsid w:val="00A03428" />
    <w:rsid w:val="00A045C0" />
    <w:rsid w:val="00A058DC" />
    <w:rsid w:val="00A058E1" />
    <w:rsid w:val="00A16CB5" />
    <w:rsid w:val="00A206AA" />
    <w:rsid w:val="00A219B1" />
    <w:rsid w:val="00A22256" />
    <w:rsid w:val="00A25BA3" />
    <w:rsid w:val="00A338EF" />
    <w:rsid w:val="00A368A0" />
    <w:rsid w:val="00A42EDA" />
    <w:rsid w:val="00A465A7" />
    <w:rsid w:val="00A54332" />
    <w:rsid w:val="00A55307" />
    <w:rsid w:val="00A666AB" />
    <w:rsid w:val="00A678F5" />
    <w:rsid w:val="00A72278" />
    <w:rsid w:val="00A817C6" />
    <w:rsid w:val="00A82FF6" />
    <w:rsid w:val="00A8725E" />
    <w:rsid w:val="00A91999" />
    <w:rsid w:val="00A97D40" />
    <w:rsid w:val="00AA5214" />
    <w:rsid w:val="00AB2763" />
    <w:rsid w:val="00AC1828" />
    <w:rsid w:val="00AC5A7F" />
    <w:rsid w:val="00AD19BC" />
    <w:rsid w:val="00AE176C" />
    <w:rsid w:val="00AF6CA4" />
    <w:rsid w:val="00AF7FF8" />
    <w:rsid w:val="00B02BC8" />
    <w:rsid w:val="00B10C8E" />
    <w:rsid w:val="00B13F28" />
    <w:rsid w:val="00B22FFD" />
    <w:rsid w:val="00B50C8C" />
    <w:rsid w:val="00B62E44" />
    <w:rsid w:val="00B63745" />
    <w:rsid w:val="00B64AEB" />
    <w:rsid w:val="00B65F82" />
    <w:rsid w:val="00B662C1" />
    <w:rsid w:val="00B9100C" />
    <w:rsid w:val="00B91137" />
    <w:rsid w:val="00B9662E" />
    <w:rsid w:val="00B969EE" />
    <w:rsid w:val="00BA1A37" />
    <w:rsid w:val="00BA6CB8" />
    <w:rsid w:val="00BB0DDE" />
    <w:rsid w:val="00BB4633" />
    <w:rsid w:val="00BB70EE" />
    <w:rsid w:val="00BC0792" />
    <w:rsid w:val="00BC3BB0" />
    <w:rsid w:val="00BC4C68" />
    <w:rsid w:val="00BC6D1D" />
    <w:rsid w:val="00BE5A62" />
    <w:rsid w:val="00BE7FF9" />
    <w:rsid w:val="00BF2645" />
    <w:rsid w:val="00BF7525" />
    <w:rsid w:val="00C027AA" />
    <w:rsid w:val="00C0491F" />
    <w:rsid w:val="00C13032" />
    <w:rsid w:val="00C177F0" />
    <w:rsid w:val="00C22E1D" />
    <w:rsid w:val="00C2491E" />
    <w:rsid w:val="00C322F4" />
    <w:rsid w:val="00C34609" />
    <w:rsid w:val="00C36E84" />
    <w:rsid w:val="00C41C62" />
    <w:rsid w:val="00C41CC4" />
    <w:rsid w:val="00C47A45" />
    <w:rsid w:val="00C530AE" />
    <w:rsid w:val="00C54020" />
    <w:rsid w:val="00C54745" />
    <w:rsid w:val="00C54AFF" />
    <w:rsid w:val="00C60B7D" />
    <w:rsid w:val="00C6149D" />
    <w:rsid w:val="00C70B54" />
    <w:rsid w:val="00C7483D" />
    <w:rsid w:val="00C80EF4" />
    <w:rsid w:val="00C907D7" />
    <w:rsid w:val="00C95EE3" />
    <w:rsid w:val="00CA22A6" />
    <w:rsid w:val="00CB1A3B" />
    <w:rsid w:val="00CB2DEA" />
    <w:rsid w:val="00CB6538" />
    <w:rsid w:val="00CC512F" />
    <w:rsid w:val="00CD6512" />
    <w:rsid w:val="00CD7AD2" />
    <w:rsid w:val="00CE4405" />
    <w:rsid w:val="00CE6083" />
    <w:rsid w:val="00CF1D48" />
    <w:rsid w:val="00D03F83" />
    <w:rsid w:val="00D07369" />
    <w:rsid w:val="00D23121" />
    <w:rsid w:val="00D25181" />
    <w:rsid w:val="00D25A52" />
    <w:rsid w:val="00D31C18" />
    <w:rsid w:val="00D33691" />
    <w:rsid w:val="00D408FF" />
    <w:rsid w:val="00D46599" />
    <w:rsid w:val="00D46652" />
    <w:rsid w:val="00D47501" />
    <w:rsid w:val="00D55062" />
    <w:rsid w:val="00D5738A" />
    <w:rsid w:val="00D63C28" />
    <w:rsid w:val="00D66304" />
    <w:rsid w:val="00D723AB" />
    <w:rsid w:val="00D75CE8" />
    <w:rsid w:val="00D80B09" />
    <w:rsid w:val="00D82A4A" />
    <w:rsid w:val="00D8321C" />
    <w:rsid w:val="00D85F77" />
    <w:rsid w:val="00D90464" />
    <w:rsid w:val="00D938CB" />
    <w:rsid w:val="00D93EE8" />
    <w:rsid w:val="00D95239" />
    <w:rsid w:val="00D95740" />
    <w:rsid w:val="00DA0901" />
    <w:rsid w:val="00DA2D7A" />
    <w:rsid w:val="00DA5425" />
    <w:rsid w:val="00DB3C1B" />
    <w:rsid w:val="00DC226B" />
    <w:rsid w:val="00DD1EA0" />
    <w:rsid w:val="00DD21B3" />
    <w:rsid w:val="00DE4C1F" />
    <w:rsid w:val="00DF5961" />
    <w:rsid w:val="00DF5F2A" />
    <w:rsid w:val="00DF68FF" />
    <w:rsid w:val="00E02D83" />
    <w:rsid w:val="00E112E8" />
    <w:rsid w:val="00E1774D" />
    <w:rsid w:val="00E227FA" />
    <w:rsid w:val="00E36C39" />
    <w:rsid w:val="00E425D5" />
    <w:rsid w:val="00E45E14" />
    <w:rsid w:val="00E463ED" />
    <w:rsid w:val="00E524AE" />
    <w:rsid w:val="00E56000" />
    <w:rsid w:val="00E61198" />
    <w:rsid w:val="00E651B0" />
    <w:rsid w:val="00E67BD8" />
    <w:rsid w:val="00E7015B" />
    <w:rsid w:val="00E70B9B" />
    <w:rsid w:val="00E75E66" />
    <w:rsid w:val="00E8133C" />
    <w:rsid w:val="00E935AC" />
    <w:rsid w:val="00EA5702" />
    <w:rsid w:val="00EA7AB9" />
    <w:rsid w:val="00EC0204" />
    <w:rsid w:val="00EC65E2" />
    <w:rsid w:val="00ED1EE0" />
    <w:rsid w:val="00ED24A8" />
    <w:rsid w:val="00ED59FD" />
    <w:rsid w:val="00ED7D9A" />
    <w:rsid w:val="00EF34FA" />
    <w:rsid w:val="00F0012B" />
    <w:rsid w:val="00F02370" />
    <w:rsid w:val="00F03C67" />
    <w:rsid w:val="00F043F7" />
    <w:rsid w:val="00F06FBC" />
    <w:rsid w:val="00F112C3" />
    <w:rsid w:val="00F12543" />
    <w:rsid w:val="00F172A1" />
    <w:rsid w:val="00F2570C" />
    <w:rsid w:val="00F257D1" />
    <w:rsid w:val="00F3446A" />
    <w:rsid w:val="00F36969" />
    <w:rsid w:val="00F44710" />
    <w:rsid w:val="00F5024E" />
    <w:rsid w:val="00F524AB" />
    <w:rsid w:val="00F57FCD" />
    <w:rsid w:val="00F607B4" />
    <w:rsid w:val="00F63EAF" />
    <w:rsid w:val="00F63FE9" />
    <w:rsid w:val="00F64C72" />
    <w:rsid w:val="00F71F76" />
    <w:rsid w:val="00F74BBD" />
    <w:rsid w:val="00F85B3B" />
    <w:rsid w:val="00F94EDC" />
    <w:rsid w:val="00FA01AE" />
    <w:rsid w:val="00FB10C9" />
    <w:rsid w:val="00FB1E23" />
    <w:rsid w:val="00FB749A" />
    <w:rsid w:val="00FC1C11" />
    <w:rsid w:val="00FC2414" />
    <w:rsid w:val="00FC5629" />
    <w:rsid w:val="00FC68C9" />
    <w:rsid w:val="00FC6EB3" />
    <w:rsid w:val="00FE2FD5" />
    <w:rsid w:val="00FE4E50" />
    <w:rsid w:val="00FF5B30" />
    <w:rsid w:val="00FF737F" />
  </w:rsids>
  <m:mathPr xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math">
    <m:mathFont m:val="Cambria Math" />
    <m:brkBin m:val="before" />
    <m:brkBinSub m:val="--" />
    <m:smallFrac m:val="0" />
    <m:dispDef />
    <m:lMargin m:val="0" />
    <m:rMargin m:val="0" />
    <m:defJc m:val="centerGroup" />
    <m:wrapIndent m:val="1440" />
    <m:intLim m:val="subSup" />
    <m:naryLim m:val="undOvr" />
  </m:mathPr>
  <w:themeFontLang w:val="pl-PL" w:eastAsia="ja-JP" w:bidi="ar-SA" />
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink" />
  <w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="1026" fillcolor="white" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
      <v:fill color="white" />
      <v:textbox inset="0,0,0,0" />
    </o:shapedefaults>
    <o:shapelayout v:ext="edit" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
      <o:idmap v:ext="edit" data="1" />
    </o:shapelayout>
  </w:shapeDefaults>
  <w:decimalSymbol w:val="," />
  <w:listSeparator w:val=";" />
  <w14:docId w14:val="19D8676B" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" />
  <w15:chartTrackingRefBased xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml" />
  <w15:docId w15:val="{b3ed7662-0be3-4fea-b038-7ce83bafb318}" xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml" />
</w:settings>