<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
  <w:view w:val="outline" />
  <w:zoom w:val="bestFit" w:percent="281323476" />
  <w:removePersonalInformation />
  <w:removeDateAndTime />
  <w:doNotDisplayPageBoundaries />
  <w:displayBackgroundShape />
  <w:embedTrueTypeFonts />
  <w:saveSubsetFonts />
  <w:alignBordersAndEdges />
  <w:bordersDoNotSurroundFooter />
  <w:gutterAtTop />
  <w:proofState w:spelling="clean" w:grammar="clean" />
  <w:attachedTemplate r:id="Id1" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" />
  <w:stylePaneFormatFilter w:allStyles="0" w:customStyles="0" w:latentStyles="1" w:stylesInUse="1" w:headingStyles="1" w:numberingStyles="1" w:tableStyles="1" w:directFormattingOnRuns="0" w:directFormattingOnParagraphs="1" w:directFormattingOnNumbering="1" w:directFormattingOnTables="1" w:clearFormatting="0" w:top3HeadingStyles="0" w:visibleStyles="0" w:alternateStyleNames="0" />
  <w:stylePaneSortMethod w:val="StylePaneSortMethods" />
  <w:documentType w:val="letter" />
  <w:revisionView w:markup="1" w:comments="0" w:insDel="1" w:formatting="1" w:inkAnnotations="1" />
  <w:doNotTrackFormatting />
  <w:documentProtection w:edit="none" w:formatting="1" w:enforcement="0" w:cryptProviderType="rsaFull" w:cryptAlgorithmClass="hash" w:cryptAlgorithmType="typeAny" w:cryptAlgorithmSid="181184962" w:cryptProvider="CryptographicProvider" w:algIdExtSource="AlgorithmIdExtensibilitySource" w:cryptProviderTypeExtSource="CryptographicProviderTypeExtSource" w:algorithmName="AlgorithmName" w:spinCount="854906464" />
  <w:autoFormatOverride />
  <w:autoHyphenation />
  <w:doNotHyphenateCaps />
  <w:showEnvelope />
  <w:clickAndTypeStyle w:val="ClickAndTypeStyle" />
  <w:defaultTableStyle w:val="DefaultTableStyle" />
  <w:bookFoldRevPrinting />
  <w:bookFoldPrinting />
  <w:displayHorizontalDrawingGridEvery w:val="1423230546" />
  <w:displayVerticalDrawingGridEvery w:val="1172510850" />
  <w:noPunctuationKerning />
  <w:characterSpacingControl w:val="doNotCompress" />
  <w:noLineBreaksAfter w:lang="Language" w:val="Val" />
  <w:noLineBreaksBefore w:lang="Language" w:val="Val" />
  <w:doNotValidateAgainstSchema />
  <w:saveInvalidXml />
  <w:ignoreMixedContent />
  <w:alwaysShowPlaceholderText />
  <w:doNotDemarcateInvalidXml />
  <w:saveXmlDataOnly />
  <w:useXSLTWhenSaving />
  <w:saveThroughXslt r:id="Id2" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" />
  <w:alwaysMergeEmptyNamespace />
  <w:footnotePr>
    <w:footnote w:id="-1" />
    <w:footnote w:id="0" />
  </w:footnotePr>
  <w:endnotePr>
    <w:endnote w:id="-1" />
    <w:endnote w:id="0" />
  </w:endnotePr>
  <w:compat>
    <w:useSingleBorderforContiguousCells />
    <w:noTabHangInd />
    <w:spaceForUL />
    <w:noColumnBalance />
    <w:noExtraLineSpacing />
    <w:doNotExpandShiftReturn />
    <w:spacingInWholePoints />
    <w:printColBlack />
    <w:wpSpaceWidth />
    <w:showBreaksInFrames />
    <w:subFontBySize />
    <w:suppressBottomSpacing />
    <w:suppressTopSpacing />
    <w:suppressSpacingAtTopOfPage />
    <w:swapBordersFacingPages />
    <w:convMailMergeEsc />
    <w:mwSmallCaps />
    <w:doNotSuppressParagraphBorders />
    <w:wrapTrailSpaces />
    <w:shapeLayoutLikeWW8 />
    <w:forgetLastTabAlignment />
    <w:doNotUseHTMLParagraphAutoSpacing />
    <w:useWord97LineBreakRules />
    <w:doNotBreakWrappedTables />
    <w:doNotSnapToGridInCell />
    <w:doNotWrapTextWithPunct />
    <w:useWord2002TableStyleRules />
    <w:growAutofit />
    <w:useAltKinsokuLineBreakRules />
    <w:doNotAutofitConstrainedTables />
    <w:autofitToFirstFixedWidthCell />
    <w:underlineTabInNumList />
    <w:doNotVertAlignInTxbx />
    <w:useAnsiKerningPairs />
    <w:cachedColBalance />
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="Uri" w:val="Val" />
    <w:compatSetting w:name="compatibilityMode" w:uri="Uri" w:val="Val" />
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="Uri" w:val="Val" />
    <w:compatSetting w:name="useWord2013TrackBottomHyphenation" w:uri="Uri" w:val="Val" />
    <w:compatSetting w:name="differentiateMultirowTableHeaders" w:uri="Uri" w:val="Val" />
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="Uri" w:val="Val" />
    <w:compatSetting w:name="useWord2013TrackBottomHyphenation" w:uri="Uri" w:val="Val" />
    <w:compatSetting w:name="useWord2013TrackBottomHyphenation" w:uri="Uri" w:val="Val" />
    <w:compatSetting w:name="compatibilityMode" w:uri="Uri" w:val="Val" />
  </w:compat>
  <w:docVars>
    <w:docVar w:name="Name" w:val="Val" />
    <w:docVar w:name="Name" w:val="Val" />
    <w:docVar w:name="Name" w:val="Val" />
    <w:docVar w:name="Name" w:val="Val" />
    <w:docVar w:name="Name" w:val="Val" />
  </w:docVars>
  <w:rsids />
  <m:mathPr xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math">
    <m:mathFont m:val="MathFont" />
    <m:brkBin m:val="before" />
    <m:brkBinSub m:val="--" />
    <m:smallFrac m:val="0" />
    <m:dispDef m:val="0" />
    <m:defJc m:val="right" />
    <m:wrapRight />
    <m:intLim m:val="undOvr" />
    <m:naryLim m:val="undOvr" />
  </m:mathPr>
  <w:uiCompat97To2003 />
  <w:attachedSchema w:val="http://www.example.com/Uri" />
  <w:attachedSchema w:val="http://www.example.com/Uri" />
  <w:attachedSchema w:val="http://www.example.com/Uri" />
  <w:attachedSchema w:val="http://www.example.com/Uri" />
  <w:attachedSchema w:val="http://www.example.com/Uri" />
  <w:themeFontLang w:val="Regular" w:eastAsia="EastAsia" w:bidi="ComplexScript" />
  <w:clrSchemeMapping w:bg1="accent3" w:t1="light1" w:bg2="accent3" w:t2="accent2" w:accent1="accent1" w:accent2="dark1" w:accent3="dark1" w:accent4="hyperlink" w:accent5="accent4" w:accent6="light1" w:hyperlink="accent6" w:followedHyperlink="dark2" />
  <w:doNotAutoCompressPictures />
  <w:captions>
    <w:caption w:name="Name" w:pos="above" w:chapNum="0" w:heading="1941787434" w:noLabel="1" w:numFmt="taiwaneseCounting" w:sep="period" />
    <w:autoCaptions>
      <w:autoCaption w:name="Name" w:caption="Caption" />
    </w:autoCaptions>
  </w:captions>
  <w:readModeInkLockDown w:actualPg="1" w:fontSz="FontSize" />
  <sl:schemaLibrary xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" />
  <w:decimalSymbol w:val="DecimalSymbol" />
  <w:listSeparator w:val="ListSeparator" />
  <w14:discardImageEditingData w14:val="0" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" />
  <w14:defaultImageDpi w14:val="2017926906" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" />
  <w14:conflictMode w14:val="0" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" />
</w:settings>