<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=MyDatabase;Integrated Security=True" />
    <add key="ProviderName" value="System.Data.SqlClient" />-->
    <add key="ConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\OneDrive\VS\Projects\DocxDocument\OpenXmlDatabase\OpenXml.accdb;Jet OLEDB:Database Password=****;" />
    <add key="ProviderName" value="System.Data.SqlClient" />
  </appSettings>
</configuration>