<?xml version="1.0" encoding="utf-8"?>
<ap:Properties xmlns:ap="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties">
  <ap:Template>Normal.dotm</ap:Template>
  <ap:MMClips>1312836238</ap:MMClips>
  <ap:HiddenSlides>831385615</ap:HiddenSlides>
  <ap:TotalTime>192272569</ap:TotalTime>
  <ap:Notes>1136511704</ap:Notes>
  <ap:Slides>1798023999</ap:Slides>
  <ap:Paragraphs>1291038011</ap:Paragraphs>
  <ap:Lines>985284434</ap:Lines>
  <ap:CharactersWithSpaces>442334269</ap:CharactersWithSpaces>
  <ap:Characters>1308241734</ap:Characters>
  <ap:Words>1868225050</ap:Words>
  <ap:Pages>1752496240</ap:Pages>
  <ap:HyperlinksChanged>0</ap:HyperlinksChanged>
  <ap:SharedDoc>0</ap:SharedDoc>
  <ap:LinksUpToDate>0</ap:LinksUpToDate>
  <ap:ScaleCrop>0</ap:ScaleCrop>
  <ap:Manager>Manager</ap:Manager>
  <ap:Company>Company</ap:Company>
  <ap:PresentationFormat>PresentationFormat</ap:PresentationFormat>
  <ap:HyperlinkBase>HyperlinkBase</ap:HyperlinkBase>
  <ap:Application>Microsoft Office Word</ap:Application>
  <ap:AppVersion>16.0000</ap:AppVersion>
</ap:Properties>