<?xml version="1.0" encoding="utf-8"?>
<ap:Properties xmlns:ap="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties">
  <ap:Template>Normal.dotm</ap:Template>
  <ap:MMClips>426489367</ap:MMClips>
  <ap:HiddenSlides>628580018</ap:HiddenSlides>
  <ap:TotalTime>1607004551</ap:TotalTime>
  <ap:Notes>2124968404</ap:Notes>
  <ap:Slides>3685055</ap:Slides>
  <ap:Paragraphs>2130904449</ap:Paragraphs>
  <ap:Lines>1613814757</ap:Lines>
  <ap:CharactersWithSpaces>1137025186</ap:CharactersWithSpaces>
  <ap:Characters>731440130</ap:Characters>
  <ap:Words>876220974</ap:Words>
  <ap:Pages>1696020591</ap:Pages>
  <ap:HyperlinksChanged>0</ap:HyperlinksChanged>
  <ap:SharedDoc>1</ap:SharedDoc>
  <ap:LinksUpToDate>1</ap:LinksUpToDate>
  <ap:ScaleCrop>0</ap:ScaleCrop>
  <ap:Manager>Manager</ap:Manager>
  <ap:Company>Company</ap:Company>
  <ap:PresentationFormat>PresentationFormat</ap:PresentationFormat>
  <ap:HyperlinkBase>HyperlinkBase</ap:HyperlinkBase>
  <ap:Application>Microsoft Office Word</ap:Application>
  <ap:AppVersion>16.0000</ap:AppVersion>
</ap:Properties>