<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<ap:Properties xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes" xmlns:ap="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties">
  <ap:Template>Normal.dotm</ap:Template>
  <ap:TotalTime>142</ap:TotalTime>
  <ap:Paragraphs>295</ap:Paragraphs>
  <ap:Lines>1057</ap:Lines>
  <ap:CharactersWithSpaces>147776</ap:CharactersWithSpaces>
  <ap:Characters>126918</ap:Characters>
  <ap:Words>21153</ap:Words>
  <ap:Pages>1</ap:Pages>
  <ap:DocSecurity>0</ap:DocSecurity>
  <ap:HyperlinksChanged>0</ap:HyperlinksChanged>
  <ap:SharedDoc>0</ap:SharedDoc>
  <ap:LinksUpToDate>0</ap:LinksUpToDate>
  <ap:HeadingPairs>
    <vt:vector baseType="variant" size="4">
      <vt:variant>
        <vt:lpstr>Tytuł</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>1</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Title</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>1</vt:i4>
      </vt:variant>
    </vt:vector>
  </ap:HeadingPairs>
  <ap:ScaleCrop>0</ap:ScaleCrop>
  <ap:Application>Microsoft Office Word</ap:Application>
  <ap:TitlesOfParts>
    <vt:vector baseType="lpstr" size="2">
      <vt:lpstr></vt:lpstr>
      <vt:lpstr></vt:lpstr>
    </vt:vector>
  </ap:TitlesOfParts>
  <ap:Company></ap:Company>
  <ap:HLinks>
    <vt:vector baseType="lpwstr">
      <vt:lpwstr>5308502</vt:lpwstr>
      <vt:lpwstr>585</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr>https://www.amazon.com/Nova-Development/b/ref=bl_dp_s_web_3445078011?ie=UTF8&amp;node=3445078011&amp;field-lbr_brands_browse-bin=Nova+Development</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>578</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835769</vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>572</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835768</vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>566</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835767</vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>560</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835766</vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>554</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835765</vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>548</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835764</vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>542</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835763</vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>536</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835762</vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>530</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835761</vt:lpwstr>
      <vt:lpwstr>1966129</vt:lpwstr>
      <vt:lpwstr>524</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835760</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>518</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835759</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>512</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835758</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>506</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835757</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>500</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835756</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>494</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835755</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>488</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835754</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>482</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835753</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>476</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835752</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>470</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835751</vt:lpwstr>
      <vt:lpwstr>1900593</vt:lpwstr>
      <vt:lpwstr>464</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835750</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>458</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835749</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>452</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835748</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>446</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835747</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>440</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835746</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>434</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835745</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>428</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835744</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>422</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835743</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>416</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835742</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>410</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835741</vt:lpwstr>
      <vt:lpwstr>1835057</vt:lpwstr>
      <vt:lpwstr>404</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835740</vt:lpwstr>
      <vt:lpwstr>1769521</vt:lpwstr>
      <vt:lpwstr>398</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835739</vt:lpwstr>
      <vt:lpwstr>1769521</vt:lpwstr>
      <vt:lpwstr>392</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835738</vt:lpwstr>
      <vt:lpwstr>1769521</vt:lpwstr>
      <vt:lpwstr>386</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835737</vt:lpwstr>
      <vt:lpwstr>1769521</vt:lpwstr>
      <vt:lpwstr>380</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835736</vt:lpwstr>
      <vt:lpwstr>1769521</vt:lpwstr>
      <vt:lpwstr>374</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835735</vt:lpwstr>
      <vt:lpwstr>1769521</vt:lpwstr>
      <vt:lpwstr>368</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835734</vt:lpwstr>
      <vt:lpwstr>1769521</vt:lpwstr>
      <vt:lpwstr>362</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835733</vt:lpwstr>
      <vt:lpwstr>1769521</vt:lpwstr>
      <vt:lpwstr>356</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835732</vt:lpwstr>
      <vt:lpwstr>1769521</vt:lpwstr>
      <vt:lpwstr>350</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835731</vt:lpwstr>
      <vt:lpwstr>1703985</vt:lpwstr>
      <vt:lpwstr>344</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835725</vt:lpwstr>
      <vt:lpwstr>1703985</vt:lpwstr>
      <vt:lpwstr>338</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835724</vt:lpwstr>
      <vt:lpwstr>1703985</vt:lpwstr>
      <vt:lpwstr>332</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835723</vt:lpwstr>
      <vt:lpwstr>1703985</vt:lpwstr>
      <vt:lpwstr>326</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835722</vt:lpwstr>
      <vt:lpwstr>1703985</vt:lpwstr>
      <vt:lpwstr>320</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835721</vt:lpwstr>
      <vt:lpwstr>1703985</vt:lpwstr>
      <vt:lpwstr>314</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835720</vt:lpwstr>
      <vt:lpwstr>1638449</vt:lpwstr>
      <vt:lpwstr>308</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835719</vt:lpwstr>
      <vt:lpwstr>1638449</vt:lpwstr>
      <vt:lpwstr>302</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835718</vt:lpwstr>
      <vt:lpwstr>1638449</vt:lpwstr>
      <vt:lpwstr>296</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835717</vt:lpwstr>
      <vt:lpwstr>1638449</vt:lpwstr>
      <vt:lpwstr>290</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835716</vt:lpwstr>
      <vt:lpwstr>1638449</vt:lpwstr>
      <vt:lpwstr>284</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835715</vt:lpwstr>
      <vt:lpwstr>1638449</vt:lpwstr>
      <vt:lpwstr>278</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835714</vt:lpwstr>
      <vt:lpwstr>1638449</vt:lpwstr>
      <vt:lpwstr>272</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835713</vt:lpwstr>
      <vt:lpwstr>1638449</vt:lpwstr>
      <vt:lpwstr>266</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835712</vt:lpwstr>
      <vt:lpwstr>1638449</vt:lpwstr>
      <vt:lpwstr>260</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835711</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>254</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835709</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>248</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835708</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>242</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835707</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>236</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835706</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>230</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835705</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>224</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835704</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>218</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835703</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>212</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835702</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>206</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835701</vt:lpwstr>
      <vt:lpwstr>1572913</vt:lpwstr>
      <vt:lpwstr>200</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835700</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>194</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835699</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>188</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835698</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>182</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835697</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>176</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835696</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>170</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835695</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>164</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835694</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>158</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835693</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>152</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835692</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>146</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835691</vt:lpwstr>
      <vt:lpwstr>1114160</vt:lpwstr>
      <vt:lpwstr>140</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835690</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>134</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835689</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>128</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835688</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>122</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835687</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>116</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835686</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>110</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835685</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>104</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835684</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>98</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835683</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>92</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835682</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>86</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835681</vt:lpwstr>
      <vt:lpwstr>1048624</vt:lpwstr>
      <vt:lpwstr>80</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835680</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>74</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835679</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>68</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835678</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>62</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835677</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>56</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835676</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>50</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835675</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>44</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835674</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>38</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835673</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>32</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835672</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>26</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835671</vt:lpwstr>
      <vt:lpwstr>2031664</vt:lpwstr>
      <vt:lpwstr>20</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835670</vt:lpwstr>
      <vt:lpwstr>1966128</vt:lpwstr>
      <vt:lpwstr>14</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835669</vt:lpwstr>
      <vt:lpwstr>1966128</vt:lpwstr>
      <vt:lpwstr>8</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835668</vt:lpwstr>
      <vt:lpwstr>1966128</vt:lpwstr>
      <vt:lpwstr>2</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
      <vt:lpwstr>_Toc124835667</vt:lpwstr>
      <vt:lpwstr>2228330</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>0</vt:lpwstr>
      <vt:lpwstr>5</vt:lpwstr>
      <vt:lpwstr>https://learn.microsoft.com/pl-pl/azure/postgresql/flexible-server/concepts-limits</vt:lpwstr>
      <vt:lpwstr></vt:lpwstr>
    </vt:vector>
  </ap:HLinks>
  <ap:AppVersion>16.0000</ap:AppVersion>
</ap:Properties>